.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}

.blueish-border {
    width: 50%;
    border-bottom: 1px solid #4c40b3;
    margin: 10px auto;
    height: 16px;
}



section#about h2 {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section#about p {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

section#about .card {

    max-height: 500px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {

    box-shadow: inset 0 0 5px rgba(24, 24, 24, 0.541);
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: url("/assets/concrete-wall-2.png");
    background: #2e3832;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #85b194;
}