nav {
    min-height: 2.5rem;
    background-color: rgba(14, 20, 10, 0.863);
}

nav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #ffffff;
    border: 1px solid #ffffff;
}

nav .navbar-toggler:focus {
    outline: none;
}

nav .navbar-brand {
    color: #000000;
    font-weight: 700;
    padding: 0.9rem 0;
}

nav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}



nav .navbar-nav .nav-item:active,
nav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

nav .navbar .nav-item {
    margin: 50%;

}

nav .dropdown-toggle::after {
    transition: transform 0.15s linear;
}

nav .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}


@media (min-width: 992px) {
    nav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    nav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(255, 255, 255, 0.5);
    }

    nav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(255, 255, 255, 0.5);
    }

    nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }

    nav .nav-link:active {
        color: #fff;
    }

    nav .navbar-shrink {
        background-color: rgba(51, 44, 44, 0.582);
    }

    nav .navbar-shrink .navbar-brand {
        color: #141414;
    }

    nav .navbar-shrink .nav-link {
        color: #ffffff;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    nav .navbar-shrink .nav-link:hover {
        color: #afa658;
    }

    nav .navbar-shrink .nav-link:active {
        color: #afa658;
    }

    nav .navbar-shrink .nav-link.active {
        color: #afa658;
        outline: none;
        border-bottom: 0.25rem solid #afa658;
    }
}