@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

.table-wrap {
	@include media-breakpoint-down(xl) {
		overflow-x: scroll;
	}
}

.table {
	min-width: 1000px !important;
	width: 100%;
	background: $white;
	-webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
	text-align: center;

	thead {
		th {
			border: none;
			padding: 30px;
			font-size: 14px;
			color: $black;
		}
	}

	tbody {
		tr {
			margin-bottom: 10px;
		}

		td {
			padding: 30px;
			font-size: 14px;
			background: $white;
			vertical-align: middle;
			@include transition(.5s);

			i {
				font-size: 12px;
				color: rgba(0, 0, 0, .3);
			}

			.img {
				width: 90px;
				height: 90px;
				margin: 0 auto;
			}

			a {
				display: block;
				color: $primary;
				font-size: 12px;

				strong {
					font-size: 12px;
					font-weight: 600;
					color: lighten($black, 40%);
				}
			}

			&:hover {
				background: darken($white, 4%);
			}
		}
	}

	tfoot {
		tr {
			th {
				a {
					font-weight: 400;
					color: $black;

					i {
						font-size: 12px;
					}

					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}